/sections/introducao.tex   @Jocieli-Pontes
/sections/objetivos.tex  @shimabukuro11
/sections/estado-da-arte.tex   @haimonvieira
/main.tex                  @haimonvieira
* @haimonvieira @shimabukuro11 @Jocieli-Pontes @joaoalexandre77 @kevinOLV2534
